<root>
    <General>
        <UTCOffset name="UTCOffset">34200</UTCOffset>
        <lat>-34.0274634</lat>
        <lng>150.7685868</lng>
    </General>
    <Lights>
        <overrideon>True</overrideon>
        <OverrideTime>18:00</OverrideTime>
        <TimeNextOn>17:16</TimeNextOn>
        <Randomon>True</Randomon>
        <TimeOff>18:10</TimeOff>
        <LightsOn>False</LightsOn>
    </Lights>
</root>